@model Entities.Concrete.Heading
@{
    ViewBag.Title = "AddHeading";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>AddHeading</h2>
<br />
@using (Html.BeginForm("AddHeading", "Heading", FormMethod.Post))
{
<div class="form-group">
  
    @Html.Label("Başlık")
    @Html.TextBoxFor(x => x.HeadingName, new { @class = "form-control" })
    <div style="color:red">
        @Html.ValidationMessageFor(x => x.HeadingName)
    </div>
    <br />
    @Html.Label("Kategori")
    @Html.TextBoxFor(x => x.Category.CategoryName, new { @class = "form-control" })
    <br />
    @Html.Label("Yazar")
    @Html.TextBoxFor(x => x.Writer.WriterName, new { @class = "form-control" })

    <br />
    <button class="btn btn-info">Başlığı Oluştur</button>
</div>

}
