@model Entities.Concrete.Heading
@{
    ViewBag.Title = "NewHeading";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
}

<br />
@using (Html.BeginForm("NewHeading", "WriterHeading", FormMethod.Post))
{
    <div class="form-group">

        @Html.Label("Başlık")
        @Html.TextBoxFor(x => x.HeadingName, new { @class = "form-control" })
        <div style="color:red">
            @Html.ValidationMessageFor(x => x.HeadingName)
        </div>
        <br />
        @Html.Label("Kategori")
        @Html.DropDownListFor(x => x.CategoryId, (List<SelectListItem>)ViewBag.vlc,
          new { @class = "form-control" })

        <br />
        <button class="btn btn-info">Başlığı Oluştur</button>
    </div>

}

